// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktails";


body {
  background-color: $background !important;
}

a {
  text-decoration: none;
  font-family: $body-font;
  color: $background;
  font-size: 25px;
}

p {
  font-family: $body-font;
  color: $background;
}

h1 {
  color: $pink;
}

.pink-text {
  color: $pink;
}

.small-box {
  text-align: right;
  width: 320px;
  padding: 10px
}

.search-box {
  display: flex;
}

.search-button {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 400;
    font-family: $body-font;
    line-height: 1.5;
    color: #E3A67B;
    background-color: $background;
    background-clip: padding-box;
    border: 1px solid #E3A67B;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-left: 10px
}


#search {
  background-color: $background !important;
  color: $pink;
  border: 1px solid #E3A67B;
  border-radius: .25rem;
  font-family: $body-font;
  padding: 8px;
}






