// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-category {
  height: 250px;
  width: 300px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
}

.name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #E3A67B;
  font-size: 30px;
  color: #E3A67B;
  font-family: 'Kaushan Script', cursive;
}

.link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
}

.card-text {
  color: white;
}

#new_cocktail {
  background-color: #DBC2A1;
  color: $background;
  padding: 20px;
  border-radius: 20px;
}

#cocktail_name {
  font-family: $body-font;
}

.submit-button {
  background-color: $pink;
  color: $background;
  border: 1px solid #E3A67B;
  border-radius: .25rem;
  font-family: $body-font;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cocktail_photo {
  font-family: $body-font;
  color: $background;
}

